<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="openMenu()">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
        </div>
    </div>
</div>

<section class="video-step">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-sm-12 col-md-12 text-center">
                <div class="page-title">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cms-main">
    <div class="container">
        <div class="login">
            <div fxLayout="column" style="width:100%;">
                <form class="form-layout" fxLayout="column" fxLayoutAlign="start"
                      fxFlex="1 0 auto" name="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div fxLayout="row" fxLayoutAlign="center" fxFlex="100 0 auto">
                        <mat-form-field class="col-md-6 col-xs-10">
                            <input matInput placeholder="Email" formControlName="email" required>
                            <mat-error *ngIf="loginFormErrors.email.required">
                                Email is required!
                            </mat-error>
                            <mat-error *ngIf="loginFormErrors.email.email">
                                Email must be a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" fxFlex="100 0 auto">
                        <mat-form-field class="col-md-6 col-xs-10">
                            <input matInput type="password" placeholder="Password" formControlName="password" required>
                            <mat-error *ngIf="loginFormErrors.password.required">
                                Password is required!
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="button-row text-center" fxFlex="100">
                        <button class="add-back-btn text-right btn-submit" mat-raised-button color="black">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<notifier-container></notifier-container>


