table{
  width: 100%;
}
.table_wrapper{
  overflow-x: auto;
}
.table_wrapper table{
  width: 100%;
  text-align: left;
  white-space: nowrap;
  border-collapse: collapse;
  font-size: 12px;
}
.table_wrapper th{
  border-top: solid 1px #8c8c8c;
  color: #999999;
  font-weight: 700;
}
.table_wrapper tr{
  height: 40px;
}
.table_wrapper tr:hover{
  background-color: #f5f6f9;
  cursor: pointer;
}
.default_cursor tr:hover{
  cursor: default;
}
.table_wrapper thead tr:hover{
  background-color: #fff;
  cursor: default;
}
.table_wrapper th, .table_wrapper td{
  border-bottom: solid 1px #8c8c8c;
  padding-left:12px;
  padding-right:12px;
  height: 40px;
}
.table_wrapper td{
  border-bottom: solid 1px #dddddd;
}
.table_wrapper tr:last-child td {
  border-bottom: solid 1px #8c8c8c;
}

.max_width{
  max-width: 1500px;
  margin: 0 auto;
}

.text-align-right {
  text-align: right !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-center {
  text-align: center !important;
}

.paging_wrapper{
  width: 100%;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 12px;
  color: #999999;
  padding: 20px 0;
}

.btngroup_paging{
  display: flex;
}

.icon_paging_pre{
  background-image: url("../../assets/images/btn_32_left_s.png");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center center;
}
.icon_paging_next{
  background-image: url("../../assets/images/btn_32_right_s.png");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center center;
}


.paging_pre{
  width: 32px;
  height: 32px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border:1px solid #dddddd
}
.paging_next{
  margin-left:-1px;
  width: 32px;
  height: 32px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border:1px solid #dddddd
}
.paging_pre span, .paging_next span{
  display: block;
  width:32px;
  height:32px;
  margin: 0 auto;
}

.inputgroup_paging{
  margin-top: 2px;
  margin-left: 20px;
  line-height: 32px;
}
.paging_intput{
  width: 31px;
  height: 24px;
  border-radius: 8px;
  border: solid 1px #dddddd;
  box-sizing: border-box;
  margin:0 2px;
  text-align: center;
  font-size: 12px;
}

.disable{
  opacity: 0.2;
}
.line_paging{
  margin-left: auto;
  order: 2;
  line-height: 34px;
}
.paging_select{
  width: 62px;
  height: 32px;
  margin-left: 8px;
  border-radius: 8px;
  border: solid 1px #dddddd;
  //background-image: url(../images/btn_32_down_s.png), -webkit-linear-gradient(#ffffff, #ffffff 40%, #ffffff);
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 32px;
  background-color: #ffffff;
  font-size: 12px;
}

//menu

.txt_ss{
  font-size: 12px;
  color: #999999;
}

.login_img{
  width: 48px;
  height: 48px;
  border-radius: 18px;
  background-color: #f2f2f2;
  margin-top: 48px;
  margin-bottom: 16px;
  //background-image: url(../images/profile_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -moz-box-shadow:    inset 0 0 1px #999;
  -webkit-box-shadow: inset 0 0 1px #999;
  box-shadow:         inset 0 0 1px #999;
}

.login_info{
  font-weight: 700;
  position: relative;
}

.margin_top_4{
  margin-top:4px;
}

.lnb_wrapper{
  position: fixed;
  height: 100%;
  width: 210px;
  background-color: #fff;
  padding-left: 24px;
  padding-top: 60px;
  float: left;
  box-sizing: border-box;
  border-right:1px solid #ddd;
  z-index: 999;
}

.lnb {
  font-family: 'NanumSquare', sans-serif;
  line-height: 44px;
  font-size: 18px;
  font-weight: 900;
  padding-right: 40px;
}
.lnb a {
  background-image: linear-gradient(180deg,transparent 40%,#DDA0DD 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
}
.lnb li:hover a, .lnb li:active a {
  background-size: 100% 100%;
  cursor: pointer;
  color: #000;
  transition: all .4s;
}
.lnb li:hover{
  cursor: pointer;
}
.footer_img{
  width: 200px;
  height: 64px;
  //background-image: url(../images/footer_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-left: -24px;
  position: absolute;
  bottom: 0px;
}

.wrapper{
  position: absolute;
  height: 100%;
  margin:0;
  padding:0;
  width:100%;
  min-width: 1024px;
}

.topbtn{
  position: fixed;
  bottom:20px;
  right:40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24);
  background-color: #181818;
  z-index: 998;
  //background-image: url(../images/btn_floatiing_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contents_wrapper {
  box-sizing: border-box;
  padding-top: 60px;
  margin-left: 210px;
  position: relative;
}

.background{
  background-color: #f5f6f9;
  min-height: 100%;
}


.contents{
  background-color: #fff;
  padding:40px 40px 0 40px;
}

.padding_bt_20{
  padding-bottom: 20px!important;
  margin-bottom: 0px !important;
}

/* topbar */
.topbar{
  background-color: #181818;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 14px 0;
  box-sizing: border-box;
}
.topbar_tit{
  font-family: 'NanumSquareRound',sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  margin-left: 24px;
  margin-top: 1px;
  line-height: 32px;
  cursor: pointer;
}
.topbar_tit img{
  width: 79px;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -1px;
}
.mymenu{
  float: right;
  font-weight: 900;
  color: #fff;
  margin-right: 12px;
  height: 32px;
  cursor: pointer;
}
.mymenu img{
  width: 32px;
  height: 32px;
  vertical-align: middle;
  padding-bottom: 1px;
}
.mymenu_box{
  display: none;
  position: absolute;
  background-color: #fff;
  width: 164px;
  /*height: 357px;*/
  border-radius: 12px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26);
  right: 16px;
  top: 46px;
  color: #181818;
  font-weight: 900;
  padding:4px 0;
  box-sizing: border-box;
}
.mymenu_box ul{
  padding:16px 0;
}
.mymenu_line{
  height: 1px;
  background-color: #dddddd;
  margin:0 20px;
}
.mymenu_box li{
  line-height: 28px;
  padding-left:20px;
  padding-right: 10px;
  cursor:pointer;
}
.mymenu_box li:hover{
  background-color: #f5f6f9;
}
.arrow_right{
  display: none;
}
.mymenu_box li:hover .arrow_right{
  display: block;
}

.floatright{
  float: right;
}

.icon_18 img{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 4px;
}
