<div id="ledger-list-view">
    <div class="table_wrapper max_width">
        <table id="table_billing">
            <colgroup>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="text-align-center">display</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <span>df</span>
                </td>
                <td>
                    <span>df</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="paging_wrapper max_width">
        <div class="btngroup_paging">
            <div class="paging_pre"><span class="icon_paging_pre"></span></div>
            <div class="paging_next"><span class="icon_paging_next"></span></div>
        </div>
        <div class="inputgroup_paging">
            페이지 : <input class="paging_intput">
        </div>
        <div class="line_paging">
            페이지 줄 수
            <select class="paging_select" id="rows">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>
</div>
